:root {
  --header-height: 3rem;

  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --body-color: hsl(var(--hue-color), 60%, 99%);

  --font-medium: 500;

  --small-font-size: .813rem;
  --smaller-font-size: .75rem;


  --z-fixed: 100;

}


a {
  text-decoration: none;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0,0,0, .15);
}


.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--first-color);
}

/*mobile devices*/
/* @media screen and (max-width:767px){
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
} */
.nav__menu {
  margin-left: auto;
}

.nav__list{
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}


.nav__item{
  align-items: center;
  
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  text-transform: capitalize;
}

.nav__link:hover{
  color: var(--first-color);
}
.nav__link:hover svg{
  fill: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}
.nav__icon-svg{
  fill:var(--title-color);
  font-size: 1.4rem;
  margin-top: 4px;
  margin-bottom: 2px;
}
.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover{
  color: var(--first-color-alt);
}